// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$background-tea: #bce0a6;
$background-tea-hover: #b3d39f;
$font-tea: #aac997;
$dark-green: #7fa465;
$gray-text: #949a9a;
$star-inner: #fce876;
$star-border: #f7d61d;
$gray-title: #686868;
$light-gray: #fbfbfb;
$back-gray: #dddbdb;
$back-gray-hover: #c6c5c5;
