// Empty cart

.empty-shopping {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: #b0896c;
  }
}

.empty-shopping-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h3 {
    background: #fcf8e3;
    color: #8a6d3b;
    padding: 1.5% 0%;
    font-size: 20px;
  }
  a {
    color: black;
    text-decoration: underline !important;
  }
  a:hover {
    color: #8a6d3b;
  }
}

// Full cart

.full-shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    width: 50%;
    margin: 0 auto;
    color: #b0896c;
    margin-top: 3%;
  }
  .lg-text {
    width: 70%;
    margin: 0 auto;
    color: #b0896c;
    margin-top: 3%;
  }
}

.next-btn {
  color: #fff;
  background-color: #666;
  font-size: 14px;
  margin-top: 18px;
  float: right;
  border: 0;
  padding: 2px 8px;
}

.next-btn:hover {
  background-color: #525252;
}

.cart-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  span {
    font-weight: bold;
  }
}

.cart-form-lg {
  width: 70%;
  margin: 0 auto;
  margin-top: 2%;
}

.cart-procedure {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  .step:not(:last-child) {
    margin-right: 28px;
  }
  .step {
    color: #cac9ca;
  }

  .step p {
    font-size: 12px;
  }
  .active-step {
    color: black;
  }
}

.change-shipping-info {
  margin-top: 14%;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.change-billing-info {
  margin-top: 14%;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.form-height-adjusted {
  max-height: 500px !important;
  transition: max-height 0.5s ease-in;
}

.go-step-two {
  margin-left: 12px;
  width: 66px;
}

.go-step-three {
  margin-left: 12px;
  width: 66px;
}

.go-step-one {
  margin-right: 12px;
}

.form-hidden {
  display: none;
}

// Stripe step

.checkout-title,
.checkout-info {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
}

.quantity-change {
  border: 1px solid #eaeaea;
  button {
    cursor: pointer;
    border: 0 none;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
    width: 30px;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
  }
}

.amount {
  margin-top: 3%;
  margin-right: 6%;
  display: flex;
  justify-content: end;
  span {
    font-weight: bold;
    font-size: 18px;
  }
}

.a-link:hover {
  color: white;
  cursor: pointer;
}

.stripe-button-el {
  padding: 0 !important;
  span {
    width: 0 !important;
    padding: 0 !important;
  }
}
