// Empty cart

.empty-shopping {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-shopping-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
