// Empty cart

.empty-shopping {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    color: #b0896c;
  }
}

.empty-shopping-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h3 {
    background: #fcf8e3;
    color: #8a6d3b;
    padding: 1.5% 0%;
    font-size: 20px;
  }
  a {
    color: black;
    text-decoration: underline !important;
  }
  a:hover {
    color: #8a6d3b;
  }
}

// Full cart

.next-btn {
  color: #fff;
  background-color: #666;
  border-color: #595959;
  font-size: 14px;
  margin-top: 18px;
  float: right;
}

.next-btn:hover {
  background-color: #525252;
  border-color: #3b3b3b;
}

.cart-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
}
