// Sign up & Sign in form

.main-form-login,
.main-form-signup {
  display: flex;
  height: 100vh;
  .form-container {
    width: 50vw;
    margin: auto 0;
    .centered-container {
      max-width: 570px;
      margin: 0 auto;
      h1 {
        color: black;
        margin: ($margin * 2) ($margin * 4);
        span {
          color: $font-tea;
        }
      }
      form {
        margin: ($margin * 6) ($margin * 4);
      }
      p {
        margin: ($margin * 2) ($margin * 4);
        a {
          text-decoration: none;
          color: #485a3e;
        }
        a:hover {
          color: #191f15;
        }
      }
    }
  }
}

.img-login {
  width: 50vw;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

.img-signup {
  width: 50vw;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

.img-password {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    asset_url("password.jpg");
  background-size: cover;
  background-position: center;
  .form-container {
    width: 31%;
  }
}

.form-inputs {
  .form-control {
    border-radius: $border-radius * 3;
  }
  .form-flex {
    display: flex;
    justify-content: space-between;
    .form-group {
      flex-grow: 1;
    }
    .user_name {
      margin-right: $margin;
    }
    .user_alias {
      margin-left: $margin;
    }
  }
}

.form-actions {
  margin-top: 3%;
  input {
    color: white;
    width: 100%;
    background: $background-tea;
    border-radius: $border-radius * 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: $padding;
    text-align: center;
  }
  input:hover {
    color: white;
    background: $background-tea-hover;
  }
}

.back {
  width: fit-content;
  a {
    color: #7f7f7f;
  }
  a:hover {
    color: #616060;
  }
}

// Media Query

@media screen {
  @media (max-width: 991px) {
    .main-form-login,
    .main-form-signup {
      flex-direction: column;
      .form-container {
        width: 100vw;
      }
      .img-login {
        width: 100vw;
        height: 50vh;
      }
      .img-signup {
        width: 100vw;
        height: 40vh;
      }
    }
  }
  @media (max-width: 499px) {
    .main-form-login {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.8)
        ),
        asset_url("login.jpg");
    }
    .main-form-signup {
      background-image: linear-gradient(
          rgba(255, 255, 255, 0.4),
          rgba(255, 255, 255, 0.8)
        ),
        asset_url("signup.jpg");
    }
    .main-form-login,
    .main-form-signup {
      background-size: cover;
      background-position: center;
      .img-login,
      .img-signup {
        display: none;
      }
      .highlight {
        color: white !important;
        margin-left: 2px;
        position: relative;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: -5px;
          right: -17px;
          background-image: url(/assets/green-brushstroke-e164fca413547d7290258a2f4cadae0bd70862f911edd4b36026005904c8f56f.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          padding: 8px 0;
          filter: invert(96%) sepia(7%) saturate(1503%) hue-rotate(40deg)
            brightness(96%) contrast(83%);
          z-index: -1;
        }
      }
    }
  }
}
