// Page banner

.products-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset_url("products-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 6%;

  h1 {
    color: white;
    font-size: 56px;
    font-weight: 200;
  }

  h1:before {
    content: "";
    position: absolute;
    background-color: gray;
    right: 0;
    left: 0;
    top: 50%;
    margin-top: -75px;
    height: 150px;
    opacity: 0.2;
  }
}

// Wrapper

.right-side {
  width: 87%;
  margin: 0 auto;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 6%;
}

.wrapper-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// Mini-product-cards

.mini-product-card {
  position: relative;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    height: 230px;
    width: 250px;
    object-fit: cover;
    transition: all 0.8s ease-in-out;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    color: black;
  }

  p {
    color: black;
    margin-top: 6px;
    font-weight: 200;
    font-size: 15px;
  }

  .info-hover {
    left: auto;
    right: 14px;
  }
}

.mini-product-card:hover {
  .product-second-pic {
    position: relative;
    visibility: visible;
    -webkit-transform: rotateY(-360deg);
    opacity: 1;
    transition: all 0.8s ease-in-out;
  }

  .product-first-pic {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .info-hover {
    left: auto;
    right: 28px;
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease-in-out;
  }
}

// Filter

.wrapper-left ul {
  list-style-type: none;
  padding-left: 0;

  li {
    position: relative;
    font-weight: 200;
  }

  .box {
    font-size: 22px;
    cursor: pointer;
    line-height: 1.1;
    margin: 0;
    margin-right: 4px;
  }
}

.wrapper-left {
  h2 {
    color: black;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
  }

  h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(6px);
    width: 36px;
    border-top: 2px solid green;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 22px;
  }
}

.filter-div {
  width: max-content;
  padding: 22px 42px;
  border: 1px solid #eaeaea;
  margin: 0 auto;
}

.stars-filter,
.price-filter {
  display: flex;
}

.disabled {
  display: none;
}

// pagination

.simple-pagination {
  margin-top: 60px;
  .page-link {
    border: none;
  }
}

.simple-pagination ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.simple-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
  color: #666;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #fff;
}

.simple-pagination .current {
  border-width: 0px;
  border-radius: 6px;
  background-image: linear-gradient(
    270deg,
    rgb(64, 190, 239) 0%,
    rgb(25, 178, 249) 51%,
    rgb(22, 150, 246) 100%
  );
  padding: 5px 10px;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  border-color: rgb(140, 140, 140);
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px 0px,
    rgba(0, 0, 0, 0.05) 0px 10px 15px 0px;
  color: white;
}

.simple-pagination .prev,
.simple-pagination .next {
  border-width: 0px;
  border-radius: 6px;
  background-image: linear-gradient(
    270deg,
    rgb(64, 190, 239) 0%,
    rgb(25, 178, 249) 51%,
    rgb(22, 150, 246) 100%
  );
  padding: 5px 10px;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  border-color: rgb(140, 140, 140);
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px 0px,
    rgba(0, 0, 0, 0.05) 0px 10px 15px 0px;
  color: white;
}
.active .prev,
.active .next {
  color: #cccccc;
  background-color: white;
  font-weight: 500;
  background-image: none;
  border: none;
  box-shadow: none;
}
