// Page banner

.product-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  position: relative;
  margin-bottom: 6%;

  h1 {
    color: white;
    font-size: 56px;
    font-weight: 200;
  }

  h1:before {
    content: "";
    position: absolute;
    background-color: rgba(236, 236, 236, 0.3);
    right: 0;
    left: 0;
    top: 50%;
    margin-top: -75px;
    height: 150px;
  }
}

// Grid

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Display product images

.image-flex {
  display: flex;
}

.changeable-pic {
  height: 100px;
  width: 100px;
  margin-right: 4px;
}

.augment-pic {
  width: 400px !important;
  height: 300px !important;
}

// Display product info

.product-info-list {
  list-style: none;
}

#product-info-price {
  font-size: 18px;
  font-weight: 600;
  color: green;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

#product-info-availability {
  border-left: 2px solid gray;
  padding: 0px 6px;
  margin-left: 12px;
  margin-top: 0.5rem;
}

.separate-line {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
