// Page banner

.products-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: asset_url("products-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
  margin-bottom: 6%;

  h1 {
    color: white;
    font-size: 56px;
    font-weight: 200;
    text-align: center;
  }

  h1:before {
    content: "";
    position: absolute;
    background-color: rgba(236, 236, 236, 0.3);
    right: 0;
    left: 0;
    top: 50%;
    margin-top: -75px;
    height: 150px;
  }
}

// Wrapper

.right-side {
  width: 87%;
  margin: 0 auto;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 6%;
}

.wrapper-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// Mini-product-cards

.mini-product-card {
  position: relative;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    height: 230px;
    width: 250px;
    object-fit: cover;
    transition: all 0.8s ease-in-out;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    color: black;
  }

  p {
    color: black;
    margin-top: 6px;
    font-weight: 200;
    font-size: 15px;
  }

  .info-hover {
    left: auto;
    right: 14px;
  }
}

.mini-product-card:hover {
  .product-second-pic {
    position: relative;
    visibility: visible;
    transform: rotateY(-360deg);
    opacity: 1;
    transition: all 0.8s ease-in-out;
  }

  .product-first-pic {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  .info-hover {
    left: auto;
    right: 28px;
    visibility: visible;
    opacity: 1;
    transition: all 0.7s ease-in-out;
  }
}

// Filter

.wrapper-left ul {
  list-style-type: none;
  padding-left: 0;

  li {
    position: relative;
    font-weight: 200;
  }

  .box {
    font-size: 22px;
    cursor: pointer;
    line-height: 1.1;
    margin: 0;
    margin-right: 4px;
  }
  .tick {
    font-size: 22px;
    cursor: pointer;
    line-height: 1.1;
    margin: 0;
    margin-right: 4px;
  }

  .hidden {
    display: none;
  }
}

.wrapper-left {
  h2 {
    color: black;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
  }

  h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(6px);
    width: 36px;
    border-top: 2px solid #aac997;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 22px;
  }
}

.filter-div {
  width: 100%;
  overflow: hidden;
  padding: 0px 0px 0px 42px;
  border: 1px solid #eaeaea;
  margin-bottom: 28px;
}

.stars-filter,
.price-filter {
  display: flex;
}

.active {
}

// pagination

.simple-pagination {
  margin-top: 60px;
  .page-link {
    border: none;
  }
}

.simple-pagination ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.simple-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
  color: #666;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #fff;
}

.simple-pagination .current {
  border-width: 0px;
  border-radius: 6px;
  background-image: linear-gradient(
    270deg,
    rgb(64, 190, 239) 0%,
    rgb(25, 178, 249) 51%,
    rgb(22, 150, 246) 100%
  );
  padding: 5px 10px;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  border-color: rgb(140, 140, 140);
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px 0px,
    rgba(0, 0, 0, 0.05) 0px 10px 15px 0px;
  color: white;
}

.simple-pagination .prev,
.simple-pagination .next {
  border-width: 0px;
  border-radius: 6px;
  background-image: linear-gradient(
    270deg,
    rgb(64, 190, 239) 0%,
    rgb(25, 178, 249) 51%,
    rgb(22, 150, 246) 100%
  );
  padding: 5px 10px;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  border-color: rgb(140, 140, 140);
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px 0px,
    rgba(0, 0, 0, 0.05) 0px 10px 15px 0px;
  color: white;
}
.active .prev,
.active .next {
  color: #cccccc;
  background-color: white;
  font-weight: 500;
  background-image: none;
  border: none;
  box-shadow: none;
}

// featured products

.featured-card {
  position: relative;
  display: flex;
  align-items: center;
  margin: 24px 0px;
  .featured-info {
    flex-grow: 1;
    margin-left: 14px;
    h3 {
      margin-top: 0;
      margin-bottom: 6px;
      font-size: 16px;
      font-weight: 600;
    }
    p {
      font-size: 15px;
      margin-bottom: 0;
      margin-top: 6px;
    }
  }
}

.featured-product-pic {
  width: 120px;
  height: 110px;
}

// clickeable

.featured-card > a,
.mini-product-card > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

// order-by

.order-products {
  background-color: #f8f8f8;
  width: 96%;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 19px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Accordion

.accordion {
  display: none;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion-active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion-active:after {
  content: "\2212";
}

// Media Query

@media screen {
  @media (max-width: 1399px) {
    .wrapper-grid {
      grid-template-columns: 1.5fr 3fr;
    }

    .wrapper-right {
      grid-template-columns: repeat(2, 1fr);
    }

    .mini-product-card {
      .info-hover {
        right: 27px;
      }

      &:hover .info-hover {
        right: 50px;
      }
    }
  }
  @media (max-width: 991px) {
    .accordion {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
    }

    .wrapper-grid {
      grid-template-columns: 1fr;

      .wrapper-left {
        width: 87%;
        margin: 0 auto;

        .filter-div:first-of-type {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;
          align-items: self-end;
        }

        .hidden-filter-div {
          max-height: 0;
          transition: max-height 1.5s ease-out;
        }

        .open-filter-div {
          max-height: 500px;
          transition: max-height 1.5s ease-out;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .wrapper-right {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 460px) {
    .wrapper-left {
      .filter-div:first-of-type {
        display: block !important;
      }
    }
  }
}
