// Main Layout

.container-header {
  padding: 40px 60px 0;
  .header-font {
    margin-top: 4%;
    h3 {
      width: 100%;
      text-align: left;
      border-bottom: 2px solid #d7d7e2;
      line-height: 0.2em !important;
      margin: 10px 0 20px;
    }

    h3 span {
      color: $purple;
      font-weight: bold;
      background: #fff;
      padding-right: 32px;
      border: 1px solid white;
    }
  }
}

.container-profile {
  margin-top: 40px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  .profile-pic {
    padding: 36px;
    border-right: 2px solid #f8f9f9;
    i {
      color: black;
    }
  }
}

.container-messages {
  margin-bottom: 2%;
  overflow: scroll;
  height: 71vh;
  .nav-tabs {
    border: none !important;
  }

  .nav-tabs .nav-link.active {
    color: gray;
    background: #f8f8f8;
  }

  .nav-tabs .nav-link {
    border: none;
    color: #c6c6c6;
    line-height: 1;
  }

  .nav-link:hover {
    color: gray;
  }
}

//Profile box

.profile-pic {
  margin: auto;
  h3 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
}

.user-name-container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.main-info {
  padding: 10px 16px;
}

.title {
  color: black;
}
.info {
  color: #c6c6c6;
  margin-right: 10%;
  span {
    color: gray;
  }
}

// Tabs & Navs

.table-recommendations-posts {
  .tab-content {
    min-height: 64.5vh;
    margin-bottom: 0;
  }
  p {
    color: black;
  }

  .featured-card {
    padding: 0 2%;
  }

  .flex-featured {
    padding-top: 8px;
  }
}
