<% unless !orders || orders == [] %>
  <h1> Orders made: </h1>
  <% orders.each do |order| %>
    <ul>
      <li>Total: ¥<%= order.total %>    Date:<%= order.date.strftime('%a, %d %b %Y %H:%M:%S') %></li>
    </ul>
  <% end %>
<% end %>
