<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "First slide", style:"max-height: 100vh"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>
          <div id="caption-title-typed">
            <span>
              Lorem ipsum dolor<br>
              sit amet<br>
              consectetur</span>
          </div>
        </h1>
        <h1><span id="title-typed"></span></h1>
        <script>
          var typed = new Typed('#title-typed',{
                      stringsElement: '#caption-title-typed',
                      backSpeed: 40,
                      typeSpeed: 20
                    });
        </script>
        <p>
          <div id="caption-subtitle-typed">
            <span>Excepteur sint occaecat cupidatat non proident</span>
          </div>
        </p>
        <p><span id="subtitle-typed"></span></p>
        <script>
          var typed = new Typed('#subtitle-typed',{
                      stringsElement: '#caption-subtitle-typed',
                      backSpeed: 40,
                      typeSpeed: 10,
                      startDelay: 3000
                    });
        </script>
        <div class="cta-btns" >
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn-background" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <%= image_tag "banner-homepage1.jpg", class:"d-block w-100", alt: "Second slide", style:"max-height: 100vh"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>Sed ut<br>
          omnis iste natus<br>
          error sit</h1>
        <p>Excepteur sint occaecat cupidatat non proident</p>
        <div class="cta-btns">
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn-background" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <%= image_tag "banner-homepage2.jpg", class:"d-block w-100", alt: "Third slide", style:"max-height: 100vh"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>At vero<br>
          accusamus et<br>
          dignissimos</h1>
        <p>Excepteur sint occaecat cupidatat non proident</p>
        <div class="cta-btns">
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn-background" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
