<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "First slide"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>
          <div id="caption-title-typed">
            <span>
              TAKE ME OUT <br>
              FOR A CUP OF <br>
              COFFEE</span>
          </div>
        </h1>
        <h1><span id="title-typed"></span></h1>
        <script>
          var typed = new Typed('#title-typed',{
                      stringsElement: '#caption-title-typed',
                      backSpeed: 40,
                      typeSpeed: 30
                    });
        </script>
        <p>
          <div id="caption-subtitle-typed">
            <span>With all the best coffee for your better choice</span>
          </div>
        </p>
        <p><span id="subtitle-typed"></span></p>
        <script>
          var typed = new Typed('#subtitle-typed',{
                      stringsElement: '#caption-subtitle-typed',
                      backSpeed: 40,
                      typeSpeed: 30,
                      startDelay: 5000
                    });
        </script>
        <div class="cta-btns" >
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "Second slide"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>LETS TEST THIS <br>
          AAA AAA AA <br>
          AAAA</h1>
        <p>With all the best coffee for your better choice</p>
        <div class="cta-btns">
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "Third slide"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>THIRD SLIDER <br>
          BBB BBB BB <br>
          BBBB</h1>
        <p>With all the best coffee for your better choice</p>
        <div class="cta-btns">
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
