<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="12000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "First slide"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>
          <div id="caption-title-typed">
            <span>
              TAKE ME OUT FOR <br>
              A CUP OF  <br>
              COFFEE</span>
          </div>
        </h1>
        <h1><span id="title-typed"></span></h1>
        <script>
          var typed = new Typed('#title-typed',{
                      stringsElement: '#caption-title-typed',
                      backSpeed: 40,
                      typeSpeed: 50
                    });
        </script>
        <p>
          <div id="caption-subtitle-typed">
            <span>With all the best coffee for your better choice</span>
          </div>
        </p>
        <p><span id="subtitle-typed"></span></p>
        <script>
          var typed = new Typed('#subtitle-typed',{
                      stringsElement: '#caption-subtitle-typed',
                      backSpeed: 40,
                      typeSpeed: 30,
                      startDelay: 6000
                    });
        </script>
        <div class="cta-btns" >
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "Second slide"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>TAKE ME OUT <br>
          FOR A CUP OF <br>
          COFFEE</h1>
        <p>With all the best coffee for your better choice</p>
        <div class="cta-btns">
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner-homepage.jpg", class:"d-block w-100", alt: "Third slide"%>
      <div class="carousel-caption d-none d-md-block">
        <h1>TAKE ME OUT <br>
          FOR A CUP OF <br>
          COFFEE</h1>
        <p>With all the best coffee for your better choice</p>
        <div class="cta-btns">
          <a class="learn-cta-btn" href="/about">LEARN MORE</a>
          <a class="buy-cta-btn" href="/products">BUY IT NOW</a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev hidden-span" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next hidden-span" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
