<div>
  <% if current_user %>
    <%= link_to toggle_favorite_product_path(product), remote: true, method: :post do %>
      <%= render 'pages/like_button', product: product %>
    <% end %>
  <% end %>
</div>
