<div class="container grid-intro">
  <div class="intro-message">
    <h3>Nice to meet you</h3>
    <h2>WE ARE JAPANTEA</h2>
    <p>Duis autem vel eum iriure dolor in hendrerit vulputate molestie consequat illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option putamus parum anteposuerit formas humanitatis claram congue</p>
    <a href="/products" class="shop-now-btn">SHOP NOW</a>
  </div>
  <div class="intro-pics-first">
    <%= image_tag "intro-pic.jpg", class:"d-block w-100", alt: "intro pic"%>
    <%= image_tag "intro-pic.jpg", class:"d-block w-100", alt: "intro pic"%>
  </div>
  <div class="intro-pics-second">
    <%= image_tag "intro-pic-2.jpg", class:"d-block w-100", alt: "intro pic"%>
    <%= image_tag "intro-pic-2.jpg", class:"d-block w-100", alt: "intro pic"%>
  </div>
</div>
