<section class="container add-padding-product empty-shopping">
  <h1>Shopping Cart</h1>
  <!-- Empty cart -->
  <div class="empty-shopping-text">
    <h3>YOUR CART IS CURRENTLY EMPTY.</h3>
    <p>Continue shopping <a href="/products">here</a></p>
  </div>
</section>
