<section>
  <!-- Breakdown of cart items -->
  <%= render "charges/shared/display_orders", cart_items: cart_items, order: order %>
  <!-- Total pricing -->
  <label class="amount">
    <p>Subtotal: <span><%= pretty_amount(@amount) %></span></p>
  </label>
  <%= form_tag charges_path do %>
    <button type="submit" class="cta-btn-background">Checkout</button>
  <% end %>
  <!-- it is an <a> so it doesnt trigger Stripe checkout -->
  <button class="next-btn go-step-one a-link" data-key="two">Previous</button>
</section>
