<div class="email-wrapper-grey">
  <img src="" alt="logo">
  <div class="email-container">
    <img src="" alt="icon">
    <h3>Welcome to<%= ENV['SHOP_NAME'] %>!</h3>
    <p>You are all set. Now you can </p>
  </div>
</div>
