<div class="container">
  <section class="about-intro">
    <div class="about-intro-text">
      <h3>About <%= ENV['SHOP_NAME'] %></h3>
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
      <ul class="list-inline mt-4">
        <li class="list-inline-item" style="font-size: 20px;"><a href="#" target="_blank" title="twitter"><i class="fab fa-twitter" style="color:#666666"></i></a></li>
        <li class="list-inline-item" style="font-size: 20px;"><a href="#" target="_blank" title="instagram"><i class="fab fa-instagram" style="color:#666666"></i></a></li>
        <li class="list-inline-item" style="font-size: 20px;"><a href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest" style="color:#666666"></i></a></li>
      </ul>
    </div>
    <%= image_tag "about-main.jpg", alt: "About main image", class: "about-intro-img" %>
  </section>
  <section class="about-values">
  </section>
  <section class="about-services">
  </section>
</div>
<!-- Homepage footer -->
<footer>
  <%= render 'shared/footer' %>
</footer>
