<h1>About page!</h1>
<div class="items">
  <div class="item">
    <p>item 1</p>
  </div>
  <div class="item">
    <p>item 2</p>
  </div>
  <div class="item">
    <p>item 3</p>
  </div>
  <div class="item">
    <p>item 4</p>
  </div>
  <div class="item">
    <p>item 5</p>
  </div>
  <div class="item">
    <p>item 6</p>
  </div>
  <div class="item">
    <p>item 7</p>
  </div>
  <div class="item">
    <p>item 8</p>
  </div>
  <div class="item">
    <p>item 9</p>
  </div>
  <div class="item">
    <p>item 10</p>
  </div>
  <div class="item">
    <p>item 11</p>
  </div>
</div>
<div id="pagination-container" class="simple-pagination"></div>
