<main>
  <!-- Logic if there is no order -->
  <% if !@order || @order.order_items == [] %>
    <%= render :partial => "pages/shared/emptycart" %>
    <!-- Logic if there is an order -->
  <% else %>
    <%= render :partial => "pages/shared/fullcart" %>
  <% end %>
</main>
