<main>
  <!-- Logic if there is an order -->
  <% if @order %>
    <%= render :partial => "pages/shared/fullcart" %>
    <!-- Logic if there is no order -->
  <% else %>
    <%= render :partial => "pages/shared/emptycart" %>
  <% end %>
</main>
