<main>
  <!-- Image Slider -->
  <section>
    <%= render "pages/shared/carousel" %>
  </section>
  <!-- Introduction section -->
  <div data-aos="fade-up" data-aos-duration="500">
    <section>
      <%= render "pages/shared/intro" %>
    </section>
  </div>
  <!-- Products wrapper -->
  <section class="display-products intro-message">
    <h3 class="subtitle-display-product">Discover</h3>
    <h2>POPULAR ITEMS</h2>
    <div class="container products-grid">
      <% @products.each do |product| %>
        <!-- Product info -->
        <div data-aos="fade-right"  data-aos-duration="1000">
          <div>
            <%= render "pages/shared/product_display", product: product %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</main>
<!-- Homepage footer -->
<footer>
</footer>
