<main>
  <!-- Beautiful Image Slider -->
  <section>
    <h1>This is the homepage!</h1>
  </section>
  <!-- Products wrapper -->
  <section>
    <div class="container">
      <% @products.each do |product| %>
        <!-- Favoritor -->
        <div>
          <% if current_user %>
            <%= link_to toggle_favorite_product_path(product), remote: true, method: :post do %>
              <%= render 'pages/like_button', product: product %>
            <% end %>
          <% end %>
        </div>
        <!-- Cart icon -->
        <%= render "pages/shared/cart_display", product: product %>
        <!-- Product info -->
        <%= render "pages/shared/product_display", product: product %>
      <% end %>
    </div>
  </section>
</main>
<!-- Homepage footer -->
<footer>
</footer>
