<div class="tab-header">
  <h3>Customer reviews</h3>
</div>
<div class="d-flex justify-content-between separate-line align-items-baseline">
  <!-- Overall rating/reviews -->
  <div class="d-flex">
    <div>
      <% if product.rating %>
        <% product.rating.floor.times do %>
          <i class="fas fa-star active"></i>
        <%end %>
        <% if product.rating.to_s.include?('.5') %>
          <i class="fas fa-star-half-alt active"></i>
        <% end %>
        <% (5 - product.rating.ceil).times do %>
          <i class="fas fa-star"></i>
        <% end %>
      <% else %>
        <% 5.times do %>
          <i class="fas fa-star"></i>
          <p>No reviews</p>
        <% end %>
      <%end %>
    </div>
    <div class="mx-3">
      <% if product.reviews.count == 0 %>
        <p>Be the first one to review it!</p>
      <% else %>
        <p>Based on <%= product.reviews.count %> reviews</p>
      <% end %>
    </div>
  </div>
  <!-- Write a review btn and logic -->
  <div>
    <% if user %>
      <!-- Button trigger modal -->
      <button type="button" class="btn modal-btn" data-toggle="modal" data-target="#exampleModalCenter">
        Write a review
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "products/shared/create_review_modal", review: review, product: product %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button>Write a review</button>
      <% end %>
    <% end %>
  </div>
</div>
