<div class="wrapper-grid">
  <div class="wrapper-left">
    <!-- Filter products by stars/price -->
    <%= render "products/shared/filter_products" %>
    <!-- Featured products -->
    <%= render "products/shared/featured_products", featured_products: featured_products %>
  </div>
  <div class="right-side">
    <div class="order-products">
      <div class="dropdown show">
        <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="wrapper-right">
      <!-- Products catalog -->
      <%= render "products/shared/products_catalog", products: products %>
    </div>
    <!-- Pagination -->
    <div id="pagination-container" class="simple-pagination"></div>
  </div>
</div>
