<div class="main-pic">
</div>
<div class="image-flex">
  <% product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, class: 'changeable-pic' %>
  <% end %>
</div>
