<ul>
  <li><%= product.name %></li>
  <% if product.availability == 2%>
    <li>Unavailable</li>
  <%end %>
  <li><%= product.description %></li>
  <li>¥<%= product.price %></li>
  <div>
    <% if product.rating %>
      <% product.rating.floor.times do %>
        <i class="fas fa-star active"></i>
      <%end %>
      <% if product.rating.to_s.include?('.5') %>
        <i class="fas fa-star-half-alt active"></i>
      <% end %>
      <% (5 - product.rating.ceil).times do %>
        <i class="fas fa-star"></i>
      <% end %>
    <% else %>
      <% 5.times do %>
        <i class="fas fa-star"></i>
      <% end %>
    <%end %>
  </div>
</ul>
