<button class="accordion">Filter products</button>
<div class="filter-div hidden-filter-div">
  <h2>BEST SELLER</h2>
  <div class="flex-featured">
    <% featured_products.each do |product| %>
      <div class="featured-card">
        <%= link_to product_path(product) do %>
        <% end %>
        <%= cl_image_tag product.photos[0].key, height: 300, width: 400, crop: :fill, class: 'featured-product-pic' %>
        <div class="featured-info">
          <h3><%= product.name %></h3>
          <div>
            <% if product.rating %>
              <% product.rating.floor.times do %>
                <i class="fas fa-star active"></i>
              <%end %>
              <% if product.rating.to_s.include?('.5') %>
                <i class="fas fa-star-half-alt active"></i>
              <% end %>
              <% (5 - product.rating.ceil).times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% else %>
              <% 5.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            <%end %>
          </div>
          <p>¥<%= product.price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
