<button class="accordion">Filter products</button>
<div class="filter-div hidden-filter-div">
  <div>
    <h2>CATALOG</h2>
    <h3>Price</h3>
    <ul>
      <li class="price-filter" data-minprice=0 data-maxprice=999>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        Less than ¥1000
      </li>
      <li class="price-filter" data-minprice=1000 data-maxprice=2000>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        ¥1000 - ¥2000
      </li>
      <li class="price-filter" data-minprice=2001 data-maxprice=3000>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        ¥2000 - ¥3000
      </li>
      <li class="price-filter" data-minprice=3001 data-maxprice=4000>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        ¥3000 - ¥4000
      </li>
      <li class="price-filter" data-minprice=4001 data-maxprice=5000>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        ¥4000 - ¥5000
      </li>
      <li class="price-filter" data-minprice=5001 data-maxprice=999999>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        More than ¥5000
      </li>
    </ul>
  </div>
  <div>
    <h3>Stars</h3>
    <ul>
      <li class="stars-filter" data-stars=0.0>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        <div>
          <% 5.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
      </li>
      <li class="stars-filter" data-stars=1.0>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        <div>
          <i class="fas fa-star active"></i>
          <% 4.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
      </li>
      <li class="stars-filter" data-stars=2.0>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        <div>
          <% 2.times do %>
            <i class="fas fa-star active"></i>
          <% end %>
          <% 3.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
      </li>
      <li class="stars-filter" data-stars=3.0>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        <div>
          <% 3.times do %>
            <i class="fas fa-star active"></i>
          <% end %>
          <% 2.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
      </li>
      <li class="stars-filter" data-stars=4.0>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        <div>
          <% 4.times do %>
            <i class="fas fa-star active"></i>
          <% end %>
          <i class="fas fa-star"></i>
        </div>
      </li>
      <li class="stars-filter" data-stars=5.0>
        <p class="tick check-box hidden">☑</p>
        <p class="check-box box">☐</p>
        <div>
          <% 5.times do %>
            <i class="fas fa-star active"></i>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
