console.log("chargin to cart");
cartIcon = document.querySelector(".cart-nav");
countIcon = `<p class="items-cart">@order_items_count</p>`;

if (1) {
  console.log("inside if");
  cartIcon.nextElementSibling
    ? (cartIcon.nextElementSibling.innerText = "<%= @order_items_count%>")
    : cartIcon.parentElement.insertAdjacentHTML("beforeend", countIcon);
}
