.learn-cta-btn {
  border: 1px solid #f8f8f8;
  color: #f8f8f8;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  overflow: none;
  transition: color ease-in-out 0.35s;

  &::before {
    content: "";
    position: absolute;
    background-color: #f8f8f8;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top ease-in-out 0.35s;
  }

  &:hover::before {
    top: 0;
    transition: top ease-in-out 0.35s;
  }

  &:hover {
    color: $font-tea;
    transition: color ease-in-out 0.35s;
  }
}

.buy-cta-btn-background {
  text-align: center;
  background-color: $background-tea;
  border: 1px solid $background-tea;
  color: #f8f8f8;
  border-radius: 2px;
  transition: all ease-in-out 0.35s;
  z-index: 1;
  position: relative;

  &::after {
    content: "→";
    position: absolute;
    color: $font-tea;
    left: 88%;
    opacity: 0;
    transition: all 0.35s ease-in-out;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: #f8f8f8;
    border-radius: 2px;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    transition: right ease-in-out 0.35s;
  }

  &:hover {
    border: none;
    background-color: transparent;
    color: $font-tea;
    transition: all ease-in-out 0.35s;
  }

  &:hover::after {
    left: 95%;
    opacity: 1;
    transition: all ease-in-out 0.35s;
  }

  &:hover::before {
    right: -15%;
    transition: right ease-in-out 0.35s;
  }
}

.buy-cta-btn-no-background {
  text-align: center;
  background-color: $background-tea;
  border: 1px solid $background-tea;
  color: #f8f8f8;
  border-radius: 2px;
  transition: all ease-in-out 0.35s;
  z-index: 1;
  position: relative;

  &::after {
    content: "→";
    position: absolute;
    color: $font-tea;
    left: 88%;
    opacity: 0;
    transition: all 0.35s ease-in-out;
  }

  &:hover {
    border: none;
    background-color: transparent;
    color: $font-tea;
    transition: all ease-in-out 0.35s;
  }

  &:hover::after {
    left: 95%;
    opacity: 1;
    transition: all ease-in-out 0.35s;
  }
}
