// Style of caption

.carousel-caption {
  color: black !important;
  bottom: 36% !important;
  left: 12% !important;
  text-align: left !important;
}

// Style of text

.carousel-caption h1 {
  font-size: clamp(1.5rem, 4.5vw, 5rem);
  font-weight: 600;
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.carousel-caption p {
  color: white;
  font-size: clamp(0.7rem, 2vw, 1rem);
  font-style: italic;
}

// Style of button

.cta-btns {
  display: flex;
  align-items: center;
}

.cta-btns a {
  padding: 12px;
  font-weight: 700;
  margin-right: 20px;

  &:hover {
    text-decoration: none;
  }
}

.cta-btns {
  .learn-cta-btn {
    border: 1px solid white;
    color: white;
  }

  .buy-cta-btn {
    border: 1px solid green;
    color: green;
  }

  .learn-cta-btn:hover {
    background-color: white;
    color: green;
  }

  .buy-cta-btn:hover {
    background-color: green;
    color: white;
  }
}

// Style of prev/next

.hidden-span {
  display: none !important;
}

.carousel:hover .hidden-span {
  display: flex !important;
}

// Typed.js

.typed-cursor {
  opacity: 0 !important;
}

#title-typed {
  position: absolute;
  top: -63%;
}
