.contact-section {
  position: relative;
  background-color: #f8f8f8;
  margin-top: 6%;
}

#contact {
  padding: 6% 0;

  input,
  textarea {
    border: none;
  }
  label {
    display: block !important;
  }
}

// #contact:after {
//   content: "";
//   background-image: asset-url("matcha-tea.png");
//   position: absolute;
//   background-size: contain;
//   background-repeat: no-repeat;
//   width: 400px;
//   height: 262px;
//   top: 0;
//   right: 0;
// }

.contact-header span {
  display: block;
  color: green;
  font-style: italic;
  font-size: 24px;
}

.contact-header {
  text-align: left;
  position: relative;
  padding-bottom: 12px;
  font-size: 42px;
}

.flex-row {
  display: flex;
  margin-bottom: 24px;
  input {
    width: 250px;
    height: 36px;
  }
}

.form-input-spacing:first-of-type {
  margin-right: 32px;
}

.area-input {
  margin-bottom: 24px;
}

.submit-form {
  input {
    background-color: green;
  }
}
