.contact-section {
  position: relative;
  background-color: #f8f8f8;
  margin-top: 6%;
}

#contact {
  padding: 6% 0;

  input,
  textarea {
    border: 1px solid #dee2e6 !important;
    border-radius: 0.25rem !important;
  }

  textarea {
    padding: 9px;
  }

  textarea::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }

  label {
    display: block !important;
  }
}

.contact-header span {
  display: block;
  color: green;
  font-style: italic;
  font-size: 24px;
}

.contact-header {
  text-align: left;
  position: relative;
  padding-bottom: 12px;
  font-size: 42px;
}

.flex-row {
  display: flex;
  margin-bottom: 24px;
  input {
    width: 250px;
    height: 36px;
  }
}

.form-input-spacing:first-of-type {
  margin-right: 32px;
}

.area-input {
  margin-bottom: 24px;
}

.submit-form {
  input {
    background-color: green;
  }
}
