.contact-section {
  position: relative;
  background-color: #f8f8f8;

  #contact {
    padding: 6% 4%;

    input,
    textarea {
      border: 1px solid #dee2e6 !important;
      border-radius: 0.25rem !important;
    }

    textarea {
      padding: 9px;
    }

    textarea::placeholder {
      font-size: 0.95rem;
      color: #aaa;
      font-style: italic;
    }

    input:focus-visible,
    textarea:focus-visible {
      outline: none;
    }

    label {
      display: block !important;
    }
  }

  &-header {
    text-align: left;
    position: relative;
    padding-bottom: 12px;
    font-size: 42px;

    span {
      display: block;
      color: $font-tea;
      font-style: italic;
      font-size: 24px;
    }
  }

  &-flex-row {
    display: flex;
    margin-bottom: 24px;

    .form-input-spacing:first-of-type {
      margin-right: 32px;
    }

    input {
      width: 250px;
      height: 36px;
    }
  }

  &-area-input {
    margin-bottom: 24px;
    position: relative;
    z-index: 9999;
  }

  &-submit-form {
    width: fit-content;
  }

  .send-btn {
    padding: 8px 10px;
  }
}

// Media Queries

@media screen {
  @media (max-width: 700px) {
    .contact-form-text-area {
      width: 100%;
    }

    .contact-section-flex-row {
      flex-direction: column;
      gap: 12px;
    }
  }
  @media (max-width: 499px) {
    .contact-section-header {
      font-size: 32px;

      span {
        font-size: 20px;
      }
    }
  }
}
