.made-dropdown-menu {
  background-color: #f0f0f1;
  position: absolute;
  z-index: 9999;
  display: none;
  a {
    font-size: 14px;
    font-weight: 100;
  }

  i {
    margin-left: 8px;
  }
}

.show {
  display: block !important;
}

.upwards {
  transform: rotate(180deg);
}

.sort_drop {
  background-color: white;
  border: 1px solid #eaeaea;
  margin-right: 12px;
  padding: 2px 12px;
  border-radius: 4px;
}
