.fa-heart.red-heart {
  background: #e16e84;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-heart.gray-heart {
  background: #6b6b6b;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
