footer {
  background-color: #333333;
  .text-grey {
    color: #a2a2a2;
    text-decoration: none !important;
  }
}

footer h6 {
  color: white;
  position: relative;
}

footer h6:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(8px);
  width: 36px;
  border-top: 1px solid white;
}

.top-footer-div {
  padding-bottom: 0 !important;
  position: relative;
  padding: 0 68px;
}

.top-footer-div::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 0;
  width: 100px;
  border-top: 2px solid white;
}

#button-addon1 {
  color: white;
}

footer i {
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

// new form

.input-group {
  form {
    display: flex;
    flex-grow: 1;
  }
  .input-newsletter {
    flex-grow: 1;
    outline: none;
  }

  i {
    input {
      background: none;
      border: none;
      display: none;
    }
  }
}

.input-group-append {
  .btn-link {
    outline: none;
  }
  .btn-link:focus {
    box-shadow: none;
  }
}

// Media Queries

@media screen {
  @media (max-width: 420px) {
    .top-footer-div {
      padding: 0 6%;
    }
  }
}
