// Style from lewagon

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Style to center and right part of nav

.center-nav {
  flex-grow: 1;
  justify-content: center;
}

.right-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

// Search

.search-btn {
  border: none;
  background: none;
}

.close-search {
  width: 0 !important;
  height: 40px !important;
  padding: 0 !important;
  border: none !important;
  opacity: 0 !important;
  overflow: hidden !important;
  transition: all 0.5s ease-in-out !important;
}

.open-search {
  width: 200px !important;
  height: 40px !important;
  padding: 0.375rem 0.75rem !important;
  border: 1px solid #ced4da !important;
  transition: all 0.5s ease-in-out !important;
}

// Cart

.items-cart {
  position: absolute;
  bottom: -4px;
  right: 88px;
  background: green;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  font-size: 12px;
}

.cart-nav {
  position: relative;
  font-size: 21px;
}

// Dropdown

.dropdown-nav {
  display: block;
  position: absolute;
  top: 98px;
  background: #f8f9fa;
  width: 50%;
  left: 0;
  height: 100vh;
  padding: 3% 3%;
}

.fixed-body {
  height: 100vh;
  overflow: hidden;
}

// Media Queries

@media only screen and (max-width: 991px) {
  .items-cart {
    right: 73px;
  }
  .navbar-brand {
    flex-basis: 100%;
    text-align: center; //this will not make it go center once it is a img logo instead of words
  }
}
