// Style from lewagon

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Style to center and right part of nav

.navbar {
  position: absolute !important;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent !important;
}

.center-nav {
  flex-grow: 1;
  justify-content: center;
}

.right-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

// Search

.search-btn {
  border: none;
  background: none;
}

.close-search {
  width: 0 !important;
  height: 40px !important;
  padding: 0 !important;
  border: none !important;
  opacity: 0 !important;
  overflow: hidden !important;
  transition: all 0.5s ease-in-out !important;
}

.open-search {
  width: 200px !important;
  height: 40px !important;
  padding: 0.375rem 0.75rem !important;
  border: 1px solid #ced4da !important;
  transition: all 0.5s ease-in-out !important;
}

// Cart

.items-cart {
  position: absolute;
  bottom: -4px;
  right: 88px;
  background: green;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  color: white;
  font-size: 12px;
}

.cart-nav {
  position: relative;
  font-size: 21px;
}

// Dropdown menu

.dropdown-nav {
  display: block !important;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 98px;
  background: #f8f9fa;
  width: 50vw;
  left: 0;
  height: 100vh;
  padding: 3% 3%;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

.collapse {
  display: block !important;
  position: absolute !important;
  top: 98px !important;
  background: #f8f9fa !important;
  width: 0 !important;
  left: 0 !important;
  height: 100vh !important;
  z-index: 999 !important;
  color: transparent;
  padding: 3% 3% !important;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.fixed-body {
  height: 100vh;
  overflow: hidden;
}

.lay-down {
  opacity: 0.5;
  pointer-events: none;
}

.btn-menu {
  width: 38px;
  height: 25px;
  background-image: url(icon-menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: invert(1);
  filter: invert(1);
  border: none !important;
  transform: translateY(-3px);
  color: transparent !important;
}

.btn-change {
  width: 38px;
  height: 25px;
  background-image: url(icon-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: invert(1);
  filter: invert(1);
  border: none !important;
  transform: translateY(-3px);
  color: transparent !important;
}

// Dropdown avatar

.dropdown-avatar {
  display: none !important;
}

.dropdown:hover > .dropdown-avatar {
  display: block !important;
  position: absolute;
  left: -105px;
}

.avatar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .dropdown-item {
    padding: 3px 8px !important;
  }
  .nav-link {
    padding: 0 !important;
  }
  .nav-item {
    padding: 3px 8px;
  }
}

.dropdown-item:hover {
  background: none !important;
}

// Media Queries

@media only screen and (max-width: 991px) {
  .items-cart {
    right: 73px;
  }
  .navbar-brand {
    flex-basis: 100%;
    text-align: center; //this will not make it go center once it is a img logo instead of words
  }
}
