<main>
  <!-- Beautiful Image Slider -->
  <section>
    <h1>This is the list of products!</h1>
  </section>
  <!-- Products wrapper -->
  <section>
    <div class="container">
      <!-- Index with search query -->
      <% if @products_highlight %>
        <%= render "products/shared/search_query", products_highlight: @products_highlight %>
        <!-- Index without search query -->
      <% else %>
        <%= render "products/shared/display_products", products: @products %>
      <% end %>
    </div>
  </section>
</main>
<!--  Footer -->
<footer>
</footer>
