<main>
  <!-- Image Hero -->
  <section class="products-banner">
    <h1>OUR PRODUCTS</h1>
  </section>
  <!-- Products wrapper -->
  <section>
    <div class="container">
      <!-- Index with search query -->
      <% if @products_highlight %>
        <%= render "products/shared/display_products_wrapper", products_highlight: @products_highlight, featured_products: @featured_products %>
        <!-- Index without search query -->
      <% else %>
        <%= render "products/shared/display_products_wrapper", products: @products, featured_products: @featured_products, products_highlight: nil %>
      <% end %>
    </div>
  </section>
</main>
<!--  Footer -->
<footer>
  <%= render "shared/footer" %>
</footer>
