<main>
  <!-- Beautiful Image Slider -->
  <section>
    <h1>This is the list of products!</h1>
  </section>
  <!-- Products wrapper -->
  <section>
    <div class="container">
      <%= link_to product_path(product) do %>
        <% @products.each do |product| %>
          <ul>
            <li><%= product.name %></li>
            <li>¥<%= product.price %></li>
            <li><%= product.rating %></li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </section>
</main>
<!-- Homepage footer -->
<footer>
</footer>
