<main>
  <!-- Product images showcase -->
  <section>
    <h1>This is the Show page of a Product!</h1>
  </section>
  <!-- Detailed product info wrapper -->
  <section>
    <ul>
      <li><%= @product.name %></li>
      <li><%= @product.description %></li>
      <li>¥<%= @product.price %></li>
      <li><%= @product.rating %></li>
    </ul>
  </section>
  <!-- Review wrapper -->
  <section>
  </section>
</main>
<!-- footer -->
<footer>
</footer>
