<main>
  <!-- Logic if there is no order -->
  <% if !@order || @order.order_items == [] %>
    <%= render "charges/shared/emptycart" %>
    <!-- Logic if there is an order -->
  <% else %>
    <%= render "charges/shared/fullcart" %>
  <% end %>
</main>
